<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Trolololoooooool</title>
  <style>
    #imagelist {
      list-style:none;
    }

    #imagelist li {
      width: 250px;
      margin:15px;
      display:inline-block;
      -moz-transition: opacity 1s;
      transition: opacity 1s;
    }

    #imagelist img {
      width: 100%;
    }
  </style>
</head>
<body>
  <form id     =  "uploadForm"
     enctype   =  "multipart/form-data"
     action    =  "/api/photo"
     method    =  "post"
  >
  <input type="file" name="userPhoto" />
  <input type="submit" value="Upload Image" name="submit">
  </form>
  <div>
    <ul id="imagelist">

    </ul>
  </div>
  <script>
    var imagelist = document.getElementById('imagelist');
    var ws = new WebSocket('{{socketURL}}');

    ws.onopen = function open() {
      ws.send('hello');
    };

    ws.onmessage = function(data, flags) {
      console.log(data);
      if(data.data.substr(0, 6) == "upload") {
        var img = document.createElement('img');
        img.src = data.data;
        var li = document.createElement('li');
        li.appendChild(img);
        imagelist.appendChild(li);
        li.style.opacity = 0;
        li.style.opacity = 1;
      }
    };
  </script>
</body>
</html>